*{
    font-family: 'Roboto', sans-serif;
} 
@media (max-width:1023px)
{
    .hottline{
        display: none;
    }
    .hidden-cart{
        display: none;
    }
}
.tophead a:hover{
    color: black;
}
.tophead .items{
    text-decoration: none;
    color: #aaa;
    text-transform: uppercase;
    font-size: 14px;
}
.bothead{
    display: flex;
    justify-content: space-between;
} 
.bothead img{
    width: 144px;
    height: 60px;
}
.bothead a{
    line-height: 60px;
    color: #000;
}
.cart-icon :hover{
    color: red;
}
#nav-mobile-wrapper{
    line-height: 60px;
    display: none;
}
@media (max-width:1023px)
{
    #nav-mobile-wrapper
    {
        display: block;
    } 
    .main-menu{
        display: none;
    }
}
.nav-overlay{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
    background-color: rgba(0, 0, 0,0.3);
}
.main-menu{
    height: 46px;
    background-color: black;
    text-align: center;
}
.navb,.sub-nav,.subb-nav{
    list-style-type: none;
}
.navb > li >a{
    color: #fff;
    text-transform: uppercase;
}
.navb > li{
    display: inline-block;
}
.navb li{
    position: relative;
}
.navb li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}
.navb > li:hover > a,
.navb .sub-nav li:hover
{
    color: #000;
    background-color: #ccc;
}
.navb .sub-nav {
    top:46px;
    left:0;
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 220px;
    padding: 0;
}
.navb .sub-nav a{
    color:#000;
    padding: 0 12px;
}
.navb .sub-nav li{
    border: 1px solid #ccc;
}
.navb li:hover .sub-nav
{
    display: block;
}
.nav1{
    position: relative;
}
.subb-nav{
    display: none;
    position: absolute;
    background-color: aqua;
    right:-243px;
    top:47px;
}
.slider{
    margin-top:10px;
    padding-top: 50%;
    background: url(/Web_Secondhand/images/mua-sam-do-second-hand-hieu-qua-Lovetaupo.jpg)top center/cover no-repeat ;
} 
.text-content{
    color:#fff;
}
.text-heading{
    text-transform: uppercase;
    text-align: center;
}
















/* #main-menu ul .nav:hover .products{
    background-color: #000;
}
#main-menu ul .nav .products:hover a{
    color: #fff;
}
#main-menu ul .nav .products:hover i{
    color: #fff;
}*/
/* .slider img{ 
    height: 500px !important;
}
.carousel-caption{
    margin-bottom: 100px;
}
h1{
    text-transform: uppercase;
}
.carousel-caption p{
    font-size: 25px;
} */
.main-img img{
    width: 100%;
    margin-top: 40px;
}
.main-img h2{
    margin-top:70px;
    text-transform: uppercase;
}
.main-img p{
    font-size: 24px;
    font-family:'eurostilenextproultralt';
}
.main-img address{
    font-size: 20px;
    font-family:'eurostilenextproultralt' ;
}
.main-img address a{
    text-decoration: none;
    color: black;
}
.main-img button{
    margin-right: 20px;
}
.main-img button a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;  
}
.sub-img img{
    margin-top:40px ;
}
.about-home{
    margin-top: 30px;
}
.about-home p{
    font-size:24px;
    font-family:'helveticaneue-ultralight';
    font-weight: bold;
    font-family: 'Nuosu SIL', serif;
}
.top-footer {
    background-color: #f8f8f8;
    height: auto;
    padding-bottom: 50px;
}
.top-footer .row {
    background-color: #f8f8f8;
}
.top-footer h3{
    text-transform: uppercase;
    text-align: center;
    margin-top:40px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
.top-footer p{
    text-align: center;
    margin: 10px 100px 0 100px;
    font-size: 14px;
}
.top-footer ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0; 
}
.top-footer ul li{
    list-style: none;
    margin: 0 20px;
}
.top-footer ul li a{
    width: 48px;
    height: 48px;
    background-color: black;
    padding: 10px 10px;
    border-radius: 50%;
}
.top-footer ul li a i{
    color: #fff;
    width: 18px;
    height: 16px;
    text-align: center;
} 
.top-footer ul :hover a{
    background-color:#fff;
}  
.top-footer ul :hover i{
    color:#000;
}
.bot-footer{
     background-color: #000;
     height: auto;
}
.bot-footer .row{
    background-color: #000;
}
.bot-footer h6{
    /* margin-left: 50px; */
    margin-top: 50px;
    color: #fff;
    
}
.bot-footer a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight:200; 
    /* margin-left: 50px;*/
} 
.bot-footer .infor{
    margin-left:50px;
    margin-bottom:40px;
}
.end-page p{
    text-align: center;
    margin-top:20px;
    font-weight: 300;
}
.end-page ul{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}
.end-page ul li{
    list-style: none;
    margin-right: 10px;
}